/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

/* img {
  display: block;
} */

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.strong {
  font-weight: 800;
}

.btn {
  display: inline-block;
  padding: 6px 20px;
  box-sizing: border-box;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-size: 15px;
}

.btn--brown {
  border-color: #633510;
  color: #633510;
  transition: 0.6s;
  cursor: pointer;
}

.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}

.btn--gold {
  border-color: #966932;
  color: #966932;
  transition: 0.6s;
  cursor: pointer;
}

.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}

.btn--white {
  border-color: #fff;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}

.btn--white:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
}

.btn--black {
  border-color: #000;
  color: #000;
  transition: 0.6s;
  cursor: pointer;
}

.btn--black:hover {
  background-color: #000;
  color: white;
  text-decoration: underline;
}

/* MATERIAL */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f6f5ef;
  border-bottom: 1px solid #eae7e2;
  border-top: 2px solid black;
  z-index: 1;
}

header > .inner {
  height: 120px;
}

header .inner .logo {
  position: absolute;
  height: 75px;
  top: -2px;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  font-family: Avenir, Arial, georgia;
  display: flex;
  position: absolute;
  right: 50px;
  top: 6px;
}

header .sub-menu ul.menu {
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li:not(:first-child)::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li a {
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  color: #656565;
  text-decoration: none;
}

header .sub-menu ul.menu li a:hover {
  text-decoration: underline;
}

header .sub-menu .search {
  position: relative;
  height: 34px;
  cursor: pointer;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  color: #656565;
  font-size: 13px;
}

header .sub-menu .search .material-symbols-outlined {
  position: absolute;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
}

/* MAIN MENU */
header .main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

header .main-menu .item {
}

header .main-menu .item .item__name {
  font-family: Avenir, Arial, georgia;
  padding: 10px 22px 34px 22px;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  cursor: pointer;
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}

header .main-menu .item .item__contents {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 120px;
  /* transform: scaleY(0);
  transform-origin: center top 0; */
}

header .main-menu .item:hover .item__contents {
  display: block;
  /* transition: 0.5s;
  transform: scaleY(1); */
}

header .main-menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0;
}

header .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
  flex-wrap: wrap;
}

header .main-menu .item .item__contents .item__contents__menu .inner > li {
  width: 200px;
  padding-right: 20px 20px 0 0;
}

header .main-menu .item .item__contents .item__contents__menu .inner > li > a {
  display: block;
  margin-bottom: 15px;
  color: white;
  font-size: 14px;
}

header
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
}

header .main-menu .item .item__contents .item__contents__menu .inner > li > ul {
}

header
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}

header
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* BADGES */
header .badges {
  position: absolute;
  top: 150px;
  left: calc(1100px + (100vw - 1100px) / 2);
}

header .badges .badge {
  cursor: pointer;
}

header .badges .badge img {
  width: 140px;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url(../images/visual_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.visual .inner {
  position: relative;
  height: 646px;
}

.visual .inner .slogan {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 340px;
  top: 180px;
  left: -130px;
  opacity: 0;
}

.visual .inner .slogan .btn {
  display: block;
  margin: 60px 0 0 0;
  color: #076443;
  transition: 0.6s;
  opacity: 0;
}

.visual .inner .slogan .btn:hover {
  background-color: #076443;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.visual .inner .item-1.image {
  position: absolute;
  width: 290px;
  top: 120px;
  left: 340px;
  opacity: 0;
}

.visual .inner .item-2.image {
  position: absolute;
  width: 310px;
  top: 208px;
  left: 538px;
  opacity: 0;
}

.visual .inner .item-3.image {
  position: absolute;
  width: 310px;
  top: 162px;
  left: 762px;
  opacity: 0;
}

.visual .inner.animate .slogan {
  transition: 0.4s;
  opacity: 1;
}

.visual .inner.animate .item-1.image {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.4s;
}

.visual .inner.animate .item-2.image {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.8s;
}

.visual .inner.animate .item-3.image {
  transition: 0.3s;
  opacity: 1;
  transition-delay: 1.2s;
}

.visual .inner.animate .slogan .btn {
  transition: 0.4s;
  opacity: 1;
}

/* NOTICE */
.notice {
}

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .inner {
  height: 62px;
  display: flex;
}

.notice .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  color: white;
  display: flex;
  align-items: center;
}

.notice .inner .inner__left h1 {
  position: absolute;
  left: 0;
  font-weight: bold;
}

/* .notice .inner .inner__left div {
  position: absolute;
  left: 80px;
  font-weight: bold;
} */

.notice .inner .inner__left .swiper {
  position: absolute;
  height: 62px;
  left: 80px;
  font-size: 14px;
}

.notice .inner .inner__left .swiper .swiper-wrapper .swiper-slide {
  line-height: 62px;
  height: 62px;
}

.notice .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: white;
}

.notice .inner .inner__left a span {
  font-size: 36px;
  vertical-align: bottom;
  /* display: block; */
}

.notice .inner .inner__right {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .inner .inner__right h1 {
  position: absolute;
  right: 120px;
  font-weight: bold;
}

.notice .inner .inner__right a {
  position: absolute;
  right: 20px;
  color: black;
}

.notice .inner .inner__right span {
  font-size: 36px;
  vertical-align: bottom;
}

/* NOTICE PROMOTION */

.notice .promotion {
  position: relative;
  height: 658px;
  background-color: #f6f5ef;
  overflow: hidden;
  transition: height 0.4s;
}

.notice .promotion.hide {
  height: 0px;
}

.notice .inner__right .toggle-promotion span {
  transition: 0.4s;
}

.notice .inner__right .toggle-promotion span.show {
  transform: rotate(180deg);
}

.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 40px;
}

.notice .promotion .swiper .swiper-wrapper {
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide {
  opacity: 0.5;
  transition: 0.2s;
  position: relative;
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide .btn {
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.notice .promotion .swiper .swiper-pagination {
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_on.png");
  background-size: cover;
  background-color: transparent;
}

.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next {
  width: 55px;
  height: 55px;
  border: 2px solid #333;
  color: #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  cursor: pointer;
  z-index: 1;
}

.notice .promotion .swiper-button-prev:after,
.notice .promotion .swiper-button-next:after {
  font-size: 25px;
}

.notice .promotion .swiper-button-prev {
  left: 50%;
  transform: translate(-550px, 0);
}

.notice .promotion .swiper-button-next {
  right: 50%;
  transform: translate(550px, 0);
}

/* REWARDS */
.rewards {
  background-color: #1e3932;
}

.rewards .inner {
  position: relative;
  padding: 30px 0 40px 0;
  display: flex;
}

.rewards .inner a {
  display: flex;
  flex-basis: 260px;
  justify-content: center;
}

.rewards .inner a img {
  display: block;
  width: 176px;
}

.rewards .inner .rewards__items {
  flex-grow: 1;
}

.rewards .inner .rewards__items p {
  display: block;
  font-size: 17px;
  color: white;
}

.rewards .inner .rewards__items p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}

.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.5px #c8c8c8;
}

.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons .btn,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn {
  display: inline-block;
  border-color: white;
  color: white;
  font-size: 14px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons .btn:hover,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn:hover {
  text-decoration: underline;
}

.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn.btn--register {
  margin: 6px;
  background-color: #00704a;
  border: 2px solid #00704a;
}

.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
  padding-top: 20px;
}

.rewards .inner .rewards__items .rewards__items__card p {
  font-size: 14px;
}

.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  top: 20px;
}

/* ELSALVADOR */
.elsalvador {
  position: relative;
  background-image: URL("../images/elsalvador_bg.jpg");
  background-size: 105%;
  background-position: center;
  overflow: hidden;
  height: 570px;
}

.elsalvador .inner {
}

.elsalvador .inner .elsalvador__item {
  display: block;
  position: absolute;
  width: 310px;
  top: 70px;
  left: 100px;
  transition: 2.5s;
  transform: translate(-700px, 0);
  opacity: 0;
}

.elsalvador:active .inner .elsalvador__item {
  transform: translate(0px, 0);
  opacity: 1;
}

.elsalvador .inner .elsalvador__contents {
  position: absolute;
  margin: auto;
  top: 180px;
  right: 140px;
  transition: 2.5s;
  transform: translate(900px, 0);
  opacity: 0;
}

.elsalvador:active .inner .elsalvador__contents {
  transform: translate(0px, 0);
  opacity: 1;
}

.elsalvador .inner .elsalvador__contents .img_text {
  width: 340px;
}

.elsalvador .inner .elsalvador__contents .btn {
  margin-top: 40px;
}

/* ETHIOPIA */
.ethiopia {
  position: relative;
  background-image: URL("../images/ethiopia_bg.png");
  overflow: hidden;
  height: 400px;
}

.ethiopia::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  display: block;
  background-image: url("../images/ethiopia_before.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 425px;
  height: 404px;
  opacity: 0;
}

.ethiopia::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-image: url("../images/ethiopia_after.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 361px;
  height: 404px;
  opacity: 0;
}

.ethiopia .inner {
}

.ethiopia .inner .ethiopia__contents {
  position: absolute;
  width: 496px;
  top: 120px;
}

.ethiopia .inner .ethiopia__item {
  position: absolute;
  left: -500px;
  opacity: 0;
}

.ethiopia.animate .inner .ethiopia__item {
  transition: 1.5s;
  opacity: 1;
  transition-delay: 0.8s;
}

.ethiopia.animate::before,
.ethiopia.animate::after {
  opacity: 1;
  transition: 1.5s;
}

.ethiopia .inner .btn.btn--gold {
  position: absolute;
  left: 260px;
  top: 270px;
}

/* FAVORITE */
.favorite {
  position: relative;
  background-image: url("../images/fav_bg.png");
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.favorite .inner {
}

.favorite .inner .favorite__text-1 {
  position: absolute;
  width: 258px;
  top: 120px;
  left: 108px;
  transform: translate(-700px);
}

.favorite .inner .favorite__text-2 {
  position: absolute;
  width: 362px;
  top: 370px;
  transform: translate(-700px);
}

.favorite.animate .inner .favorite__text-1 {
  transform: translate(0px);
  transition: 2s;
}

.favorite.animate .inner .favorite__text-2 {
  transform: translate(0px);
  transition: 2.5s;
}

.favorite .inner .favorite__img {
  position: absolute;
  width: 912px;
  top: 100px;
  right: -260px;
}

.favorite .inner .btn.btn--white {
  position: absolute;
  top: 580px;
  left: 238px;
}

/* MAGAZINE */
.magazine {
  position: relative;
  background-image: URL("../images/magazine_bg.png");
  background-repeat: no-repeat;
  background-position: center 30px;
  margin-top: 25px;
  height: 380px;
}

.magazine .inner {
}

.magazine .inner .magazine__contents {
  position: absolute;
  width: 588px;
  left: 60px;
  top: 135px;
}

.magazine .inner .magazine__img {
  position: absolute;
  width: 348px;
  right: 50px;
  top: -25px;
  opacity: 0;
  transition: 1.5s;
}

.magazine.animate .inner .magazine__img {
  opacity: 1;
}

.magazine .inner .btn.btn--black {
  position: absolute;
  top: 270px;
  left: 295px;
}

/* STORE */
.store {
  position: relative;
  background-image: URL("../images/store_bg.jpg");
  background-position: center;
  background-size: contain;
  height: 400px;
  overflow: hidden;
}

.store .inner {
  position: relative;
}

.store .inner .store__text-1 {
  position: absolute;
  width: 385px;
  top: 100px;
  right: 50px;
  transform: translate(800px, 0);
}

.store .inner .store__text-2 {
  position: absolute;
  width: 366px;
  top: 170px;
  right: 69px;
  transform: translate(800px, 0);
}

.store .inner .btn.btn--black {
  position: absolute;
  top: 290px;
  right: 330px;
  transform: translate(800px, 0);
}

.store.animate .inner .store__text-1 {
  transform: translate(0px, 0);
  transition: 2s;
}

.store.animate .inner .store__text-2 {
  transform: translate(0px, 0);
  transition: 2.5s;
}

.store.animate .inner .btn.btn--black {
  transform: translate(0px, 0);
  transition: transform 3s;
}

.store .inner .store__img-1 {
  position: absolute;
  width: 366px;
  left: 70px;
  top: 0;
  opacity: 0;
  transition: 1.5s;
}

.store .inner .store__img-2 {
  position: absolute;
  width: 228px;
  left: 300px;
  top: 150px;
  opacity: 0;
  transition: 1.5s;
}

.store .inner .store__img-3 {
  position: absolute;
  width: 348px;
  top: -60px;
  left: 430px;
  opacity: 0;
  transition: 1.5s;
}

.store .inner .store__img-4 {
  position: absolute;
  width: 230px;
  right: -70px;
  top: 298px;
  opacity: 0;
  transition: 1.5s;
}

.store.animate .inner .store__img-1,
.store.animate .inner .store__img-2,
.store.animate .inner .store__img-3,
.store.animate .inner .store__img-4 {
  opacity: 1;
}

/* FOOTER */
footer {
  background-color: #2c2a29;
}

footer .inner {
  padding: 30px 0;
}

/* FOOTER MENU */
footer .inner .footer__menu {
  display: flex;
}

footer .inner .footer__menu .left {
  width: 90%;
}

footer .inner .footer__menu .left .menu {
  display: flex;
}

footer .inner .footer__menu .left .menu > li {
  width: 20%;
}

footer .inner .footer__menu .left .menu > li > ul > a {
  display: block;
  font-size: 14px;
  color: white;
  margin: 10px 0;
}

footer .inner .footer__menu .left .menu > li > ul > li {
  font-size: 12px;
  color: white;
  padding: 5px 0;
}

footer .inner .footer__menu .left .menu > li > ul > a:hover,
footer .inner .footer__menu .left .menu > li > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .inner .footer__menu .right {
  width: 10%;
}

footer .inner .footer__menu .right > img {
  float: right;
}

/* FOOTER SUBMENU */
footer .inner .footer__sub-menu {
  padding: 40px 50px 10px 50px;
}

footer .inner .footer__sub-menu > ul {
  display: flex;
  justify-content: space-between;
}

footer .inner .footer__sub-menu > ul > li {
  font-size: 12px;
  color: #cccccc;
}

footer .inner .footer__sub-menu > ul > li.contour {
  color: #999;
}

footer .inner .footer__sub-menu > ul > li > a {
  color: #cccccc;
}

footer .inner .footer__sub-menu > ul > li > a:hover {
  text-decoration: underline;
}

footer .inner .footer__sub-menu > ul > li:first-child > a {
  color: #00b050;
  font-weight: 800;
}

/* FOOTER BTN */
footer .inner .footer__btn {
  text-align: center;
  margin-bottom: 20px;
}

footer .inner .footer__btn .btn {
  font-size: 12px;
}

/* FOOTER COPYLIGHT */
footer .inner .footer__copylight {
  font-size: 12px;
  text-align: center;
  color: #999999;
  padding-bottom: 20px;
}

footer .inner .footer__copylight > p {
  line-height: 30px;
}

@media screen and (max-width: 1400px) {
  header .badges {
    left: calc(100vw - 150px);
  }
}
